{% extends "pages/page.html" %}

{% load i18n mezzanine_tags pages_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine_folder_page/css/mezzanine_folder_page.css" %}">
{% endblock %}

{% block title %}
    <div class="jumbotron">
        <h1>{% editable page.folderpage.title %}{{ page.folderpage.title }}{% endeditable %}</h1>
        {% if page.folderpage.intro %}
        <p>
            {% editable page.folderpage.intro %}
                {{ page.folderpage.intro|richtext_filters|safe }}
            {% endeditable %}
        </p>
        {% endif %}
        {% if page.folderpage.intro_button_label %}
        <p><a class="btn {{ page.folderpage.intro_button_classes }}" href="{{ page.folderpage.intro_button_href|default:"#" }}" role="button">
            {{ page.folderpage.intro_button_label }}</a></p>
        {% endif %}
    </div>
{% endblock %}

{% block main %}
    {% editable page.folderpage.content_info %}
        {{ page.folderpage.content_info|richtext_filters|safe }}
    {% endeditable %}

    {% if page.folderpage.listing_children %}
        {% page_menu page %}
        <div class="text-center folder-page-children">
            {% for page in page_branch %}
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ page.title }}</h3>
                        <p>
                            <a href="{{ page.get_absolute_url }}" class="btn btn-primary" role="button" id="page_{{ page.pk }}"
                                    title="{% blocktrans with page_title=page.title %}Go to '{{ page_title }}' page{% endblocktrans%}">
                                {{ page.title }} &raquo;</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
